<div class="pagetitle">
  Player Rankings
</div>
<div class="lifetimerankings">
	<div style="margin-bottom: 8px; text-align: center;">SumWords Top 30 Players<br><span style="font-size: 80%; padding-top:15px;"><u>(Average Place - min 3 games)</u></span></div>
  <% User.all.sort {|a,b| a.averagerankingmin <=> b.averagerankingmin}.first(30).each do |user| %>
  	<% if user.averagerankingmin != 99 %>
  	  <% if current_user && user.username == current_user.username %>
        <li style="font-weight: 700; list-style-type: decimal; line-height: 1.2; color: lime;">
        	<%= user.username %>
        <span style="font-weight: 700; color: lime; float: right;"><%= user.averagerankingmin %></span>
      <% else %>
    		<li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.averagerankingmin %></span></li>
    	<% end %>
    <% end %>
  <% end %>
</div>

<div class="menulinks" style="margin-top: 6px;">
	<%= link_to "Return to Main Menu", main_path %>
</div>
