<table class="gameboard">
  <tr><%= @upperleft %><%= @upperright %>
    <td class="boardsquare<%= @upperleftspace %>" id="r1xc1"></td>
    <td class="boardsquare" id="r1xc2"></td>
    <td class="boardsquare<%= @randspace01 %>" id="r1xc3"></td>
    <td class="boardsquare" id="r1xc4"></td>
    <td class="boardsquare<%= @randspace02 %>" id="r1xc5"></td>
    <td class="boardsquare" id="r1xc6"></td>
    <td class="boardsquare<%= @upperrightspace %>" id="r1xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r2xc1"></td>
    <td class="boardsquare<%= @randspace03 %>" id="r2xc2"></td>
    <td class="boardsquare" id="r2xc3"></td>
    <td class="boardsquare" id="r2xc4"></td>
    <td class="boardsquare" id="r2xc5"></td>
    <td class="boardsquare<%= @randspace04 %>" id="r2xc6"></td>
    <td class="boardsquare" id="r2xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare<%= @randspace05 %>" id="r3xc1"></td>
    <td class="boardsquare" id="r3xc2"></td>
    <td class="boardsquare<%= @randspace06 %>" id="r3xc3"></td>
    <td class="boardsquare" id="r3xc4"></td>
    <td class="boardsquare<%= @randspace07 %>" id="r3xc5"></td>
    <td class="boardsquare" id="r3xc6"></td>
    <td class="boardsquare<%= @randspace08 %>" id="r3xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r4xc1"></td>
    <td class="boardsquare" id="r4xc2"></td>
    <td class="boardsquare" id="r4xc3"></td>
    <td class="boardsquare dw" id="r4xc4"></td>
    <td class="boardsquare" id="r4xc5"></td>
    <td class="boardsquare" id="r4xc6"></td>
    <td class="boardsquare" id="r4xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare<%= @randspace09 %>" id="r5xc1"></td>
    <td class="boardsquare" id="r5xc2"></td>
    <td class="boardsquare<%= @randspace10 %>" id="r5xc3"></td>
    <td class="boardsquare" id="r5xc4"></td>
    <td class="boardsquare<%= @randspace11 %>" id="r5xc5"></td>
    <td class="boardsquare" id="r5xc6"></td>
    <td class="boardsquare<%= @randspace12 %>" id="r5xc7"></td>
    </tr>
  <tr>
    <td class="boardsquare" id="r6xc1"></td>
    <td class="boardsquare<%= @randspace13 %>" id="r6xc2"></td>
    <td class="boardsquare" id="r6xc3"></td>
    <td class="boardsquare" id="r6xc4"></td>
    <td class="boardsquare" id="r6xc5"></td>
    <td class="boardsquare<%= @randspace14 %>" id="r6xc6"></td>
    <td class="boardsquare" id="r6xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare<%= @lowerleftspace %>" id="r7xc1"></td>
    <td class="boardsquare" id="r7xc2"></td>
    <td class="boardsquare<%= @randspace15 %>" id="r7xc3"></td>
    <td class="boardsquare" id="r7xc4"></td>
    <td class="boardsquare<%= @randspace16 %>" id="r7xc5"></td>
    <td class="boardsquare" id="r7xc6"></td>
    <td class="boardsquare<%= @lowerrightspace %>" id="r7xc7"></td>
  </tr>
</table>
<div class="tilerack1">
  <div class="tileholder">
    <div class="letter <%= @letter01 %>"><span><%= @letter01 %></span>
      <p><%= @letter01points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter02 %>"><span><%= @letter02 %></span>
      <p><%= @letter02points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter03 %>"><span><%= @letter03 %></span>
      <p><%= @letter03points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter04 %>"><span><%= @letter04 %></span>
      <p><%= @letter04points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter05 %>"><span><%= @letter05 %></span>
      <p><%= @letter05points %></p>
    </div>
  </div>
</div>
<div class="tilerack2">
  <div class="tileholder">
    <div class="letter <%= @letter06 %>"><span><%= @letter06 %></span>
      <p><%= @letter06points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter07 %>"><span><%= @letter07 %></span>
      <p><%= @letter07points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter08 %>"><span><%= @letter08 %></span>
      <p><%= @letter08points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter09 %>"><span><%= @letter09 %></span>
      <p><%= @letter09points %></p>
    </div>
  </div>
  <div class="tileholder">
    <div class="letter <%= @letter10 %>"><span><%= @letter10 %></span>
      <p><%= @letter10points %></p>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<% javascript_include_tag "boardsetup" %>
